.container {
    height: 100%;
    width: 100vw;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-container {
    /* background-color: blue; */
    width: 90%;
    /* height: 100%; */
    flex-direction: column;
}

.login-button {
    width: 100%;
}

.input-fields {
    /* background-color: blue; */
    border: solid 1px rgba(122, 131, 139, 0.2);
    padding: 15px 7px 15px 7px !important;
    border-radius: 7px;
    
}

.mb-10 {
    margin-bottom: 10px;
}

.h-10 * {
    height: 10px !important;
}

.error-message {
    color: red;
}

.register-message {
    color: rgba(132, 136, 145, 0.63);
}

.register-link {
    background: none !important;
    background-color: none !important;
    color: rgb(28, 175, 243);
    font-size: 16px;
}

.register-link *{
    background: none !important;
    background-color: none !important;
}